@import '../../Theme.css';

.body {
    background-color: #ededed;
    padding: 100px 130px; /* Add padding to the top and bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

/* Style the generatortitle bar */
.generatortitle {
    background-color: var(--papaya);
    
    text-align: center; /* Center the text horizontally */
    padding: 120px 0; /* Add padding to the top and bottom */
    font-family: 'DM Sans', sans-serif;
  }
  
  .generatortitle h1 {
    margin: 0; /* Remove default margin for h1 */
    font-size: 80px; /* Set the font size */
    color: white; /* Set the text color */
    font-weight: 500;
  }

  .generatortitle p {
    margin: 0; /* Remove default margin for p */
    margin-top: 20px;
    font-size: 25px; /* Set the font size */
    color: white; /* Set the text color */
    font-weight: 200;
  }

  /* Style the description label */
.description {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;;
  }
  
  /* Style the options container */
  .options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Style the option labels and buttons */
/* Add border to the outer container and remove border from inner elements */
.options div {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  border: none; /* Remove the border */
border-radius: 50px;
background: #ededed;
box-shadow:  21px 21px 34px #c7c7c7,
             -21px -21px 34px #ffffff;
               
  padding: 20px; /* Add padding for space inside the box */
  width: 200px; /* Set fixed width for all subject sections */
}

/* Remove border from inner elements */
.options div label,
.options div .buttons {
  border: none;
  box-shadow:none;
}
  
  label {
    display: block;
    margin-top: 20px;
  }
  
  .subjectButton {
    padding: 10px 20px;
    border: none;
    border-radius: 80px;
    background-color: #f2f2f2;
    border: 1px solid var(--papaya);
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 15px;
    transition: background-color 0.3s, transform 0.2s; /* Add transition for smooth color change and scaling */
  }
  
  .subjectButton:hover {
    background-color: var(--lightPapaya); /* Change color on hover */
    border: 1px solid var(--lightPapaya);
    transform: scale(1.1); /* Scale up on hover */
    color: white;
  }

  .subjectButton.active {
    background-color: var(--papaya); /* Change color when active */
    transform: scale(1.1); /* Scale up when active */
    color: white;
  }

  .options div label{
    font-size: 22px;
  }

  .generateButton {
    margin-top: 70px;
  }

  .generateButton .subjectButton {
    font-size: 30px;
    border-radius: 15px;
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;


    /* background: transparent;
    cursor: pointer;
    transition: ease-out 0.3s;
    border: 2px solid var(--papaya);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--papaya); */
  }

  .generateBtn{
    height: 60px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: white;
  }

  .generateBtn{
    transition: all 0.2s ease-in-out;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
    font-family: 'DM Sans', sans-serif;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }

  .generateBtn:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .generateBtn:active {
    opacity: 0.5;
  }

  .text-section {
    margin-top: 0px; /* Add some space between the generate .subjectButton and the text section */
    padding: 10px 30px; /* Add padding for space inside the text section */
    border: 2px solid #d9d9d9; /* Add border to the text section */
    border-radius: 10px; /* Add rounded corners */
    width: auto; /* Set width for the text section */
    font-size: 22px;
    text-align: center;
    color: rgb(90, 90, 90);
    margin-bottom: 60px;
  }

.textSection p {
  color: red;
}

.text-section p {
  color: black;
}

pre {
  font-family: inherit; /* Use the same font as the rest of the page */
  white-space: pre-wrap; /* Enable text wrapping */
  word-wrap: break-word; /* Break words if necessary to prevent overflow */
}