@import '../../Theme.css';

.title {
  padding: 70px 100px;
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
  color: white;
  text-align: center;
  height: 80vh;
  background-size: 100% 100%;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: radial-gradient(49% 81% at 45% 47%, #43948645 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #00A6FFFF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #5E00FFFF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #B400FFFF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #005CAEFF 0%, #FF00E3FF 100%);
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.studyText {
  font-size: 70px;
  display: flex;
  align-self: flex-start;

}

.studyText h1 {
  text-align: left;
}

.bottom {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;

    font-size: 25px;
    line-height: 4.5;
}

.homeBody {
    padding: 100px 0px;
    font-family: 'DM Sans', sans-serif;
}

.desc2, .desc1, .desc3 {
    padding: 0px 250px;
}

.desc2title, .desc1title{
    font-size: 55px;
    font-weight: 600;
    border-bottom: 2px solid blue;  /* Add this line */
}

.desc1title {
    margin-bottom: 0px;
    line-height: 30px;
    border-bottom: 2px solid purple;  /* Add this line */
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.icon {
    margin-right: 30px;
}

.part1 {
    font-size: 30px;
    margin-top: 0px;
    line-height: 30px;
    font-weight: 450;
}

.part2 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
}

.box1, .box2, .box3 {

    padding: 60px 190px;
    width: 70%;
    margin-top: 20px;
    font-size: 26px;

    position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;

  position: relative;
  border-radius: 30px;

  color: white;
  font-weight: 700;
}

/* floating border */

/* .box1::before, .box2::before, .box3::before {
  content: "";
  position: absolute;
  top: 10px;  
  right: 100px;  
  bottom: 10px;  
  left: 100px;  
  border: 2px solid white;
  border-radius: 30px;
} */

/* box colors */
.box1 {
  background-size: 100% 600%;
background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
background-image: repeating-linear-gradient(215deg, #00FFFF2E 92%, #073AFF00 100%),repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),radial-gradient(99% 99% at 109% 2%, #00C9FFFF 0%, #073AFF00 100%),radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #073AFF00 100%),radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%);
}

.box2 {
  background-size: 300% 300%;
background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
background-image: repeating-linear-gradient(306deg, #00FFFF2E 92%, #073AFF00 100%),radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #073AFF00 100%),repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%),radial-gradient(99% 99% at 109% 2%, #00C9FFFF 0%, #073AFF00 100%);
}

.box3 {
  background-size: 1000% 1000%;
background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
background-image: repeating-linear-gradient(239deg, #00FFFF2E 92%, #073AFF00 100%),repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),radial-gradient(99% 99% at 21% 78%, #3800B4FF 0%, #073AFF00 100%),radial-gradient(99% 99% at 109% 2%, #D91DCDFF 0%, #DF1A1A00 100%),radial-gradient(160% 154% at 711px -303px, #DF00FFFF 0%, #070EDFFF 100%);}

/* .box2 {
    border-radius: 56px;
background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
box-shadow:  14px 14px 40px #c5c5c5,
             -14px -14px 40px #ffffff;
} */

/* .box2::before {
    content: '';
    position: absolute;
    width: 100%;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 30%;
    animation: rotBGimg 9s linear infinite;
    transition: all 0.5s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .box2::after {
    content: '';
    position: absolute;
    background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
    ;
    inset: 5px;
    border-radius: 50px;
  } 

  .box2 p {
    z-index: 1;

  } */

.desc2body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  

.image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 0px;
    margin-bottom: 90px;
    padding: 0px 150px;
    padding-bottom: 90px;

    display: flex;
    flex-direction: row;
    align-items: center; 
    position: relative;

    justify-content: space-evenly;

}

/* 
dotted line 1 */
.image1::after {
    content: "";
    position: absolute;
    left: 100px;  /* Adjust this value to add padding on the left */
    right: 100px;  /* Adjust this value to add padding on the right */
    bottom: 0;  /* Position the line at the bottom of the element */
    /* border-bottom: 1px solid #070EDFFF */
}

.button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;

    margin-top: 40px;
    width: 30%;
    justify-content: center;
    align-items: center;
  }
  
  .button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
  
  .button:active {
    transform: scale(0.9);
  }

  .button a {
    display: inline-flex; /* Change this line */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Make the link text the same color as the button text */
    width: 100%; /* Add this line */
    height: 100%; /* Add this line */
    font-size: 20px;
}

.questionicon {
    width: 150px;
}

.desc3title {
  font-size: 55px;
    font-weight: 600;

    margin-bottom: 90px;
}

.desc3body {
  display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 30px;
}

.desc3body div {
  margin-bottom: 30px;
}

/* .step1, .step3 {
  align-self: flex-start;
}

.step2 {
  align-self: flex-end;
} */

.stepTitle {
  border: 2px solid white;
  padding: 5px 30px;
  border-radius: 40px;
  white-space: nowrap;

  font-weight: 900;
}

.step1, .step2, .step3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.step1content {
  font-size: 30px;
  padding: 0px 80px;

  font-weight: 200;
}

.desc3 {
  background-color: red;
  
  background: 
              radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),
              radial-gradient(113% 91% at 17% -2%, #9D00FFFF 1%, #FF000000 99%),
              radial-gradient(142% 91% at 83% 7%, #DB00FFFF 1%, #FF000000 99%),
              radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),
              radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
  
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 150px;
  margin-bottom: 0px;
  color: white;

  position: relative;
}

.desc3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../../networkImage.svg') no-repeat center center / 80%;
  filter: invert(1) opacity(0.06);
  z-index: 0;
}

.banner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;

  font-size: 100px;
  line-height: 0px;

  font-weight: 900;
}

.banner1 p {
  color: #FF3000FF;
}
