header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 30px 100px; /* Increase padding from left and right */
    height: 30px; /* Make the header thicker */
  }
 
  a {
    text-decoration: none;
    color: #333;
    margin-right: 40px; /* Increase right margin */
    font-size: 40px; /* Make the font bigger */
  }
 
  a.home {
    font-weight: bold; /* Make the "Home" font bold */
  }
 
  .spacer {
    flex: 1;
  }
 
  .nav-links {
    display: flex;
  }
 
  .nav-links a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    font-size: 17px;
    transition: all 0.3s ease; /* Add a smooth transition effect for scaling and color change */
  }
  
  /* Change the color and scale up slightly when hovering over the tabs */
  .nav-links a:hover {
    color: #E24E42; /* Change the color when hovering */
    transform: scale(1.1); /* Scale up slightly when hovering */
  }

  .signInButton a{
    font-size: 17px;
    padding: 10px 20px; /* Add padding to the button */
    border: 1px solid #333; /* Add a border to the button */
    border-radius: 50px; /* Add rounded corners to the button */
  }
